# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#files and folders
build/
old/
.idea/
.clang-tidy.ymp
CMakeLists.txt
main.cpp
catch.hpp
fixthis.cpp
linkedlist.cpp

